<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width =device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = 0" />
  <title>猜电影</title>
</head>
<style>
  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
  }
  html, body{
    width: 100%;
    height: 100%;
  }
  .cover{
    width: 100% ;
    text-align: center;
  }
  #btn{
    border: 1px solid #00b600;
    padding: .4rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    background: #fff;
    color: #00b600;
    font-size: 1rem;
    font-weight: 700;
  }
  .list{
    box-sizing: border-box;
    padding: 1rem .5rem;
    width: 100%;
    overflow: hidden;
  }
  .list>.item {
    width: 33.3333%;
    height: 12rem;
    box-sizing: border-box;
    padding: .5rem .2rem;
    float: left;
  }

  .list>.item>a{
    display: block;
    width: 100%;
    height: 100%;
  }

  .list>.item>a>.cover{
    width: 100%;
    height: 8.5rem;
  }
  .list>.item>a>.cover>img{
    display: block;
    width: 100%;
    height: 8rem;
  }
  .list>.item>a>.info>h3{
    text-align: center;
    font-size: .6rem;
    color: #494949;
  }
  .list>.item>a>.info>.rank{
    text-align: center;
    font-size: .6rem;
    color: #9b9b9b;
  }
</style>
<body>
<div class="cover">
  <button id="btn">点击开始录音</button>
</div>
<ul class="list">

</ul>
<script type="text/javascript" src="./js/rem.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="text/javascript">
  $(function(){
    wx.config({
      debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: '<%= appID %>', // 必填，公众号的唯一标识
      timestamp: '<%= timestamp %>', // 必填，生成签名的时间戳
      nonceStr: '<%= noncestr %>', // 必填，生成签名的随机串
      signature: '<%= signature %>',// 必填，签名
      jsApiList: [
        'startRecord',//开始录音
        'stopRecord',//结束录音
        'translateVoice', //语音识别
        'updateAppMessageShareData',
        'updateTimelineShareData'
      ] // 必填，需要使用的JS接口列表
    });
    wx.ready(function(){
      // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，
      // config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，
      // 则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
      let flag = false;
      $('#btn').tap(function () {
        if (!flag) {
          //开始录音
          wx.startRecord();
          flag = true;
        } else {
          //结束录音
          wx.stopRecord({
            success: function (res) {
              //代表录音文件
              const localId = res.localId;
              //语音识别
              wx.translateVoice({
                localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
//                  alert(res.translateResult); // 语音识别的结果
                  //定义一个请求地址
                  let url = `http://api.douban.com/v2/movie/search?q=${res.translateResult}&count=5&callback=?`

                  $.getJSON(url,function(data){
                    let html = '';
                    const {subjects} = data;
                    subjects.forEach(function(item,index){
                      html +=`<li class="item">
                                    <a href="javascript:">
                                      <div class="cover">
                                        <img src="${item.images.small}" alt="${item.title}" data-x="2000" data-y="2963" class="img-show" style="width: 100%;">
                                      </div>
                                      <div class="info">
                                        <h3>${item.title}</h3>
                                        <p class="rank">
                                          <span>评分:</span>
                                          <span class="rating">${item.rating.average}</span>
                                        </p>
                                      </div>
                                    </a>
                                  </li>`;
                    })
                    $('#list').html(html);
                    //分享功能， 默认分享第一个电影数据
                    wx.updateAppMessageShareData({
                      title: subjects[0].title,
                      desc: `电影评分：${subjects[0].rating.average}`,
                      link: subjects[0].alt, // 分享链接
                      imgUrl: subjects[0].images.small, // 分享图标
                      success: function () {
                        // 设置成功
                        alert('分享到朋友或者qq好友');
                      }
                    })
                    wx.updateTimelineShareData({
                      title: subjects[0].title,
                      link: subjects[0].alt, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                      imgUrl: subjects[0].images.small, // 分享图标
                      success: function () {
                        // 设置成功
                        alert('分享到朋友圈或者qq空间');
                      }
                    })
                  })

                }
              });
              flag = false;
            }
          });
        }
      })
    });
  })
</script>
</body>
</html>