<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,width=device-width">
  <title>Title</title>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  </style>

</head>
<body>
<h2>这是一个ejs模板</h2>
<button id="btn">开始录音</button>
<script type="text/javascript" src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script type="text/javascript" src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script type="text/javascript">
  $(function(){
    wx.config({
      debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: '<%= appID %>', // 必填，公众号的唯一标识
      timestamp: '<%= timestamp %>', // 必填，生成签名的时间戳
      nonceStr: '<%= noncestr %>', // 必填，生成签名的随机串
      signature: '<%= signature %>',// 必填，签名
      jsApiList: [
        startRecord,//开始录音
        stopRecord,//结束录音
        translateVoice,//语音识别
      ] // 必填，需要使用的JS接口列表
    });
    wx.ready(function(){
      // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，
      // config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，
      // 则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
      let flag = false;
      $('#btn').tap(function () {
        if (!flag) {
          //开始录音
          wx.startRecord();
          flag = true;
        } else {
          //结束录音
          wx.stopRecord({
            success: function (res) {
              //代表录音文件
              const localId = res.localId;
              //语音识别
              wx.translateVoice({
                localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                  alert(res.translateResult); // 语音识别的结果
                }
              });
              flag = false;
            }
          });
        }
      })
    });
  })
</script>
</body>
</html>